body{
	background-color:black;
}
.pr{	
	width:91.5%;
	margin-bottom:3%;
	height:2%;	
    
}
.kyanq{
	float:left;
	color:white;
}
.ashxarh{
	margin-right:8%;
	color:white;
	float:right;
}
.shahum{
	text-align:center;
	color:white;
}
.div1{
	cursor: pointer;
	color:#C22900;	
	font-size:130%;
	
	background-color: #C22900;
	 border-radius: 25px;
	width:15%;
	height:12%;
	float:left;
	margin-left:0.5%;
	margin-bottom:0.5%;
	border:solid 2px white;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.div4{
	cursor: pointer;	
	float:left;
	color:white;	
	font-size:130%;	
	background-color: #C22900;
	 border-radius: 25px;
	width:33%;
	height:10%;	
	margin-left:9.5%;	
	border:solid 2px white;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.div2{
	
	width:97%;
	height:auto;
	padding-left:12%;
	padding-right:8%;	
	padding-bottom:8%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.divkyanq{
}



#h2{
	color:white;
	text-align:center;
}
#h{
	color:white;
	text-align:center;
}
.mxax{
	
	margin-left:auto;
	margin-right:auto;
	border:1px solid red;
	width:45%;
	height:auto;
	
}


.vxax{
	background-size: 100% 100%;	
	width:24%;
	height:18%;
	display:inline-block;
	background-color: red;
}